html, body {
	margin: 0;
}

body {
	background-color: #34373e;
	font-family: sans-serif;
	color: #ddd;

	padding-top: max(8px, env(safe-area-inset-top));
	padding-right: max(8px, env(safe-area-inset-right));
	padding-bottom: max(8px, env(safe-area-inset-bottom));
	padding-left: max(8px, env(safe-area-inset-left));
}

h1, h2 {
	font-family: 'Ubuntu';
}

.tater {
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);

	margin-left: calc(env(safe-area-inset-left) * -1);
	margin-right: calc(env(safe-area-inset-right) * -1);
}

@media(min-width: 500px) {
	.tater > * {
		padding: 8px;
	}
}

.tater:not(:last-child) {
	border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.tater > .imagewrapper {
	width: 100px;
	min-height: 100px;

	background-color: rgba(0, 0, 0, 0.1);

	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: max(8px, env(safe-area-inset-left));
}

.tater > .imagewrapper > img {
	background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 500px) {
	.tater > .imagewrapper {
		width: 60px;
		min-height: 60px;
	}

	.tater > .imagewrapper > img {
		width: 60px;
	}
}

.tater > .content {
	padding-right: env(safe-area-inset-right);

	overflow: hidden;
	word-wrap: break-word;
}

.tater > .content > h2 {
	margin: 0;
	margin-bottom: 6px;
}

.tater > .content > p {
	margin: 0;
}