<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>

		<link href="index.css" rel="stylesheet" /> 
	</head>

	<body>
		<h1>
			Tater Library Viewer
		</h1>
		<p id="taterinfo">
			Tater information not loaded.
		</p>
		<div id="taters"></div>
	</body>
</html>